/* frontend/src/App.css */

/* Estrutura principal da aplicação */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 20px 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
